[submodule "message"]
	path = message
	url = https://github.com/anthill-platform/anthill-message.git
[submodule "exec"]
	path = exec
	url = https://github.com/anthill-platform/anthill-exec.git
[submodule "event"]
	path = event
	url = https://github.com/anthill-platform/anthill-event.git
[submodule "game"]
	path = game
	url = https://github.com/anthill-platform/anthill-game.git
[submodule "leaderboard"]
	path = leaderboard
	url = https://github.com/anthill-platform/anthill-leaderboard.git
[submodule "config"]
	path = config
	url = https://github.com/anthill-platform/anthill-config.git
[submodule "dlc"]
	path = dlc
	url = https://github.com/anthill-platform/anthill-dlc.git
[submodule "store"]
	path = store
	url = https://github.com/anthill-platform/anthill-store.git
[submodule "common"]
	path = common
	url = https://github.com/anthill-platform/anthill-common.git
[submodule "login"]
	path = login
	url = https://github.com/anthill-platform/anthill-login.git
[submodule "promo"]
	path = promo
	url = https://github.com/anthill-platform/anthill-promo.git
[submodule "profile"]
	path = profile
	url = https://github.com/anthill-platform/anthill-profile.git
[submodule "social"]
	path = social
	url = https://github.com/anthill-platform/anthill-social.git
[submodule "discovery"]
	path = discovery
	url = https://github.com/anthill-platform/anthill-discovery.git
[submodule "admin"]
	path = admin
	url = https://github.com/anthill-platform/anthill-admin.git
[submodule "environment"]
	path = environment
	url = https://github.com/anthill-platform/anthill-environment.git
[submodule "static"]
	path = static
	url = https://github.com/anthill-platform/anthill-static.git
[submodule "report"]
	path = report
	url = https://github.com/anthill-platform/anthill-report.git
